/32bit/
/56bit/
/CMAKE_BUILD/

/d_tree/data/cache/

/d_tree/data/trees/
/d_tree/data/tree_qmax/
/d_tree/data/gbdt/
/d_tree/data/out/
/d_tree/figs/
/d_tree/scripts/
/d_tree/venv/

/d_tree/data/gbdt.tar.zst

__pycache__/
*.py
.venv/
venv/

.idea/
cmake-build-*/
